/*label {
	
	font-family: serif;
	font-size:   20px;
	#padding:	 5px;
}*/

input[type="text"] {
    font-family: Arial, serif;
	padding : 5px;
}
/*input[type="radio"]{
	padding : 20px;
	height	: 20px;
}*/

#rdmeasurement, #input1 ,#textbinsize1, #hidebs ,#hidekc, #txtbtnkcinput1,#hidebtnm {
	display:none;
}
body {
	
	#background-color:#F0F8FF;  #lightblue
	background-color: #FFFAFA;  #snow1
	#background-color: #00FF7F;  #white
}

#textboxkc1  {
	padding :5px;
	display :none;
	
}